# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Database
data/*.db

# IDE Files
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/

# Build Files
build/
dist/
*.egg-info/

# Pytest Cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/